<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">

    <test name="IdentityTestsOnAndroid" parallel="instances">
        <classes>
            <class name="com.tests.ui.autodesk.accounts.TestsForIdentityOnAndroid">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInvalidLoginError"/>
                    <include name="testBlankCredentialsError"/>
                </methods>
            </class>
        </classes>
    </test>

</suite> <!-- Suite -->
